/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#banner {
    background:#fff ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #123456;
text-align: center;
    }
#banner img {
    float: left;
}
#columns {
    background: #123456;
}
#main {
    margin-left:13em;
    padding-top: 4ex;
    padding-left: 2em;
    background: white;
    font-size: small;
}
#side {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: 12em;
    background: #123456;

}
#side a {
    color: #fff;
    font-size: small;

}
#bottom {
    float: right;
    padding-right: 1em;
}
