<h4>访问网页</h4>
<p>
  resp = HTTParty.get('http://charlescui.javaeye.com')
  resp.headers.inspect.include? 'Apache'
</p>
<h4>下载</h4>
<p>
   %x{wget "http://dl_dir.qq.com./qqfile/qq/QQforMac/QQ.dmg" 1>/dev/null 2>&1}
</p>
<h4>斐波拉契数列</h4>
<p>

</p>