<!DOCTYPE html>
<html>
<head>
  <title>AutomationRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><h1>PacketTrap Automation System V 1.0</h1></div>
<%= yield %>

</body>
</html>
